:root {
    --light-green: #4cd137;
    --dark-green: #379728;
    --light-blue: #00a8ff;
    --light-blue-1: #0097e6;
    --dark-blue: #273c75;
    --dark-blue-1: #192a56;
    --light-red: #e84118;
    --dark-red: #c23616;
    --light: #f5f6fa;
    --silver: #dcdde1;
    --silver-2: #cacaca;
    --silver-3: #f1eeee;
    --dark: #2f3640;
    --grey: #718093;
    --yellow: #fbc531;
}

body {
    margin: 0;
    direction: rtl;
}

* {
    font-family: 'IranYekan';
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.imgLoading {
    position: relative;
    overflow: hidden;
    background-color: var(--silver-3);
    z-index: 3;
}

.imgLoading img {
    position: relative;
    z-index: 4 !important;
}

.imgLoading::after {
    content: '';
    display: block;
    height: 110%;
    width: 20%;
    background-color: #fff;
    right: -15%;
    top: -5%;
    position: absolute;
    rotate: 10deg;
    filter: blur(10px);
    animation: loading 0.7s infinite;
}

.skeleton-wrapper {
    box-shadow: 0 0 3px 1px var(--silver-2);
}

.skeleton.image {
    background-color: var(--silver-3);
    width: 100%;
    height: 65%;
}

.skeleton.title {
    background-color: var(--silver-3);
    width: 100%;
    height: 5%;
}

.skeleton.description {
    background-color: var(--silver-3);
    width: 100%;
    height: 15%;
}

.skeleton.details {
    background-color: var(--silver-3);
    width: 100%;
    height: 15%;
}

.shimmer-wrapper {
    overflow: hidden;
}

.shimmer {
    display: block;
    height: 110%;
    width: 25%;
    background-color: #fff;
    right: -15%;
    top: -5%;
    position: absolute;
    rotate: 10deg;
    filter: blur(10px);
    animation: loading 0.7s infinite;
}

@keyframes loading {
    from {
        right: -15%;
    }
    to {
        right: 115%;
    }
}

.loading div {
    margin-bottom: 8px;
}

#header {
    position: relative;
    height: 50px;
    margin-bottom: 60px;
}

#header .nav-link {
    color: var(--light);
    font-size: 14px;
    transition: .2s ease-in;
    -o-transition: .2s ease-in;
    -ms-transition: .2s ease-in;
    -webkit-transition: .2s ease-in;
}

#header .nav-link:hover {
    color: var(--silver);
    transition: .2s ease-in;
    -o-transition: .2s ease-in;
    -ms-transition: .2s ease-in;
    -webkit-transition: .2s ease-in;
}

#header .nav-link.active {
    color: var(--light-green);
    transition: .2s ease-in;
    -o-transition: .2s ease-in;
    -ms-transition: .2s ease-in;
    -webkit-transition: .2s ease-in;
}

#header .logo {
    height: 36px;
}

#header .logo img {
    height: 100%;
}

#header .welcome {
    font-size: 13px;
    color: var(--light);
}

#header .logout:hover {
    color: var(--light-red);
    transition: .2s ease-in;
    -o-transition: .2s ease-in;
    -ms-transition: .2s ease-in;
    -webkit-transition: .2s ease-in;
}

#header::after {
    content: '';
    width: 100%;
    height: 100px;
    right: 0;
    top: 100%;
    background: url('./assets/img/navbar.svg') no-repeat transparent;
    background-position: top center;
    background-size: cover;
    position: absolute;
}

.form-box:not(.no-w) {
    width: 320px;
}

.form-box .form-group label {
    color: var(--light);
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.form-box .form-group input {
    font-size: 13px;
}

.form-box .title {
    border-color: var(--grey) !important;
    color: var(--light);
}

.form-box .form-msg {
    font-size: 11px;
    color: var(--light-red)
}

.svg-page {
    width: 75%;
}

input:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 1px 2px var(--dark-green) !important;
}

#register input.password:focus,
#register input.pass-ltr,
#login input.password {
    direction: ltr;
    text-align: ltr;
}

#swal2-title {
    font-size: 18px;
}

#blog textarea,
#edit-blog textarea {
    min-height: 200px;
    max-height: 320px;
}

.page-header h4 {
    color: var(--dark-green);
    position: relative;
}

.page-header h4::after,
.page-header h4::before {
    content: '';
    width: 64px;
    height: 2px;
    background-color: var(--dark-green);
    display: block;
    position: absolute;
}

.page-header h4::after {
    right: -76px;
    top: 50%;
    transform: translateY(-50%);
}

.page-header h4::before {
    left: -76px;
    top: 50%;
    transform: translateY(-50%);
}

#myBlog .details .btn {
    padding: 3px 6px;
}

.blog-item .blog-box {
    border-color: var(--silver-2) !important;
    box-shadow: 0 0 4px 1px var(--silver-2);
    border-radius: 4px;
    overflow: hidden;
}

.blog-item .blog-description {
    font-size: 14px;
}

.blog-item .blog-title {
    font-size: 15px;
    color: var(--dark-green);
}

.blog-item .details small {
    font-size: 12px;
}

.blog-item .imageBlog {
    height: 220px;
    width: 100%;
}

.blog-item .imageBlog img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-item .icon {
    color: var(--dark);
    opacity: 90%;
}

#home .error span {
    font-size: 12px;
}

#single-blog .blogBox {
    box-shadow: 0 0 8px 2px var(--silver-2);
    border-radius: 4px;
    overflow: hidden;
}

#single-blog .imageBlog {
    width: 100%;
    min-height: 460px;
}

#single-blog .imageBlog img {
    width: 100%;
    object-fit: cover;
}

#single-blog .title h5 {
    color: var(--dark-blue);
    font-size: 18px;
}

#single-blog .description {
    min-height: 200px !important;
}

#single-blog .description p {
    text-align: justify;
    font-size: 14px;
    line-height: 28px;
}

#single-blog .comments {
    background-color: var(--silver-3);
}

#single-blog .comments textarea {
    outline: none;
    border: none;
    font-size: 14px;
    box-shadow: 0 0 3px 1px var(--silver-2);
    resize: none;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}

#single-blog .comments textarea:focus {
    box-shadow: 0 0 3px 1px var(--dark-green);
    transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}

#single-blog .comments .comments-list {
    border-top: 1px solid var(--silver-2);
    margin-top: 10px;
    padding-top: 10px;
}

#single-blog .comments .send-comment small {
    font-size: 12px;
}

#single-blog .comments .comments-list .top,
#single-blog .comments .comments-list .comment-name {
    font-size: 12px;
    color: var(--grey);
}

#single-blog .comments .comments-list .body p {
    font-size: 14px;
    text-align: justify;
}

#edit-blog .loading {
    position: absolute;
    z-index: 15;
    height: 100%;
    top: 0;
    right: 0;
    padding-top: 64px !important;
    background-color: rgba(33, 37, 41, 0.9);
    color: var(--light)
}

#search .search-input {
    font-size: 14px;
    color: var(--dark-green);
}

#search .search-notFound {
    width: 100%;
    text-align: center;
    margin: 36px 0;
    color: var(--dark);
}

@media (min-width:768px) {
    .form-box {
        position: relative;
        overflow: hidden;
    }
    .form-box * {
        z-index: 7;
    }
    .form-box::after {
        content: '';
        position: absolute;
        background: linear-gradient(180deg, var(--light-blue) 0%, var(--light-green) 30%, var(--yellow) 60%, var(--light-red) 90%);
        height: 110%;
        width: 75%;
        border-radius: 100%;
        left: -50%;
        top: -5%;
        z-index: 5;
    }
    .form-box::before {
        content: '';
        position: absolute;
        background-color: rgba(31, 37, 40, 1);
        height: 110%;
        width: 74.5%;
        border-radius: 100%;
        left: -50%;
        top: -5%;
        z-index: 6;
    }
}