:root {
    --light-green: #4cd137;
    --dark-green: #379728;
    --light-blue: #00a8ff;
    --light-blue-1: #0097e6;
    --dark-blue: #273c75;
    --dark-blue-1: #192a56;
    --light-red: #e84118;
    --dark-red: #c23616;
    --light: #f5f6fa;
    --silver: #dcdde1;
    --dark: #2f3640;
    --grey: #718093;
    --yellow: #fbc531;
}

body {
    margin: 0;
    direction: rtl;
}

* {
    font-family: 'IranYekan';
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

#header {
    position: relative;
    height: 50px;
}

#header .nav-link {
    color: var(--light);
    font-size: 14px;
    transition: .2s ease-in;
    -o-transition: .2s ease-in;
    -ms-transition: .2s ease-in;
    -webkit-transition: .2s ease-in;
}

#header .nav-link:hover {
    color: var(--silver);
    transition: .2s ease-in;
    -o-transition: .2s ease-in;
    -ms-transition: .2s ease-in;
    -webkit-transition: .2s ease-in;
}

#header .nav-link.active {
    color: var(--light-green);
    transition: .2s ease-in;
    -o-transition: .2s ease-in;
    -ms-transition: .2s ease-in;
    -webkit-transition: .2s ease-in;
}

#header .logo {
    height: 36px;
}

#header .logo img {
    height: 100%;
}

#header .welcome {
    font-size: 13px;
    color: var(--light);
}

#header .logout:hover {
    color: var(--light-red);
    transition: .2s ease-in;
    -o-transition: .2s ease-in;
    -ms-transition: .2s ease-in;
    -webkit-transition: .2s ease-in;
}

#header::after {
    content: '';
    width: 100%;
    height: 100px;
    right: 0;
    top: 100%;
    background: url('../public/img/navbar.svg') no-repeat transparent;
    background-position: top center;
    background-size: cover;
    position: absolute;
}

.form-box {
    width: 320px;
}

.form-box .form-group label {
    color: var(--light);
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.form-box .form-group input {
    font-size: 13px;
}

.form-box .title {
    border-color: var(--grey) !important;
    color: var(--light);
}

.svg-page {
    width: 75%;
}

input:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 1px 3px var(--dark-green) !important;
}

@media (min-width:768px) {
    .form-box {
        position: relative;
        overflow: hidden;
    }
    .form-box * {
        z-index: 7;
    }
    .form-box::after {
        content: '';
        position: absolute;
        background: linear-gradient(180deg, var(--light-blue) 0%, var(--light-green) 30%, var(--yellow) 60%, var(--light-red) 90%);
        height: 110%;
        width: 340px;
        border-radius: 100%;
        left: -75%;
        top: -5%;
        z-index: 5;
    }
    .form-box::before {
        content: '';
        position: absolute;
        background-color: rgba(31, 37, 40, 1);
        height: 110%;
        width: 338px;
        border-radius: 100%;
        left: -75%;
        top: -5%;
        z-index: 6;
    }
}